@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
.Titulo {
    font-size: 34px;
    font-family: "Jomhuria", serif;
    font-weight: 1000;
    font-style: normal;
    display: flex;
    justify-content: space-around;
 
}



.Cor {
    background-color: limegreen;
    width: 100%;

}

.Texto-ao-lado-da-imagem{
    margin-top: -446px;
    margin-left: 665px;
}

.Creditos{
    margin-top: 405px;
    margin-left: 4px;

}
.Objetivo{
    margin-left: 1%;
}
.Paragrafo{
    margin-left: 100px;
}