.Titulo {
    margin-left: 41%;
    margin-right: 43%;
    margin-top: 3%;

}

.Texto {
    margin-top: 3%;

}

.Cor {
    background-color: limegreen;
    width: 100%;

}
.Texto-ao-lado-da-imagem{
    margin-top: -423px;
    margin-left: 615px;
}