@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Jomhuria&family=Knewave&display=swap');
.Titulo {
    font-size: 34px;
    font-family: "Jomhuria", serif;
    font-weight: 1000;
    font-style: normal;
   
 
}



.Cor {
    background-color: limegreen;
    width: 100%;
 display: flex;
    justify-content: space-around;
    align-items: center;
}

.Objetivo{
    margin-left: 1%;
}
.Paragrafo{
    margin-left: 50px;
}
.Et{
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    font-size: 300%;
    align-items: center;
}

h2{
    margin: 0;
}
.img-et{
    width: 90px;
    height: 90px;
}

.Indiano{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-indiano{
    width: 100%;
}
.Espaço{
    margin-left: 25px;
}
h3{
    font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Outra-img{
    width: 2%;
}
*{
    margin: 0;
}
header{
    display: flex;
align-items: center;
padding: 12px;
justify-content: space-around;
background-color:  rgb(50, 151, 50);
color: black;
position: relative;
}
ul li{
    list-style: none;
}
.texto{
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color:limegreen ;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.caixa:checked ~ .lista{
    display: block;
}
#menu{
    display: none;
}
.lista-item{
    padding: 12px 0;
}